---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div class="firstBox"><h1>Hello, Stranger!</h1></div>
      <div class="contentBox">
        <h3>待开发...</h3>
        <ul>
          <li>11111</li>
          <li>11111</li>
          <li>11111</li>
          <li><a href="/blog/">11111</a></li>
        </ul>
      </div>
		</main>
		<Footer />
	</body>
</html>

<style>
  .firstBox {
    height: 60px;
  }
  .firstBox > h1 {
    color: chocolate;
  }
  .contentBox {
    color: blueviolet;
  }
</style>
