---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FirstBlog from './blog/firstBlog.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const {frontmatter} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<div class="firstBox">Hello, Stranger!</div>
      <div class="contentBox">
        <div class="liBox">
          <a href="./blog/mianshiti">面试题</a>
        </div>
        <div class="liBox">
          <a href="./blog/vue2-jilu">vue2开发记录</a>
        </div>
        <div class="liBox">
          <a href="./blog/ts-study">typescript学习记录</a>
        </div>
        <div class="liBox">
          <a href="./blog/vue3-jilu">vue3学习记录</a>
        </div>
      </div>
		</main>
		<Footer />
	</body>
</html>

<style>
  .firstBox {
    height: 60px;
    color: chocolate;
    line-height: 60px;
    font-size: 24px;
    font-weight: 700;
    padding: 0 10px;
  }
  .contentBox {
    color: blueviolet;
    padding: 10px;
  }
  .contentBox >.liBox {
      height: 40px;
      font-size: 18px;
      font-weight: 700;
    }
  .test {
    font-size: 20px;
    font-weight: 700;
  }
  main {
    height: calc(100% - 147px);
  }
</style>
