---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<div class="titleBox">
    <h2 class="username">
      {SITE_TITLE}
    </h2>
    <script>
    const userBox = document.querySelector('h2.username');
    userBox.addEventListener('click', (e) => {
      const a = document.createElement('a');
      a.href = '/'
      a.click()
    });
    </script>
  </div>
	<nav>
		<a href="/">主页</a>
		<a href="https://github.com/ghcnye/blog/tree/master" target="_blank">GitHub</a>
	</nav>
</header>
<style>
	header {
    position: relative;
    margin-bottom: 20px;
	}
	h2 {
		margin: 0.5em 0;
	}
  .titleBox {
    /* background-color: antiquewhite; */
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
  }
  .titleBox > h2 { 
    color: aqua;
  }
  nav {
    position: absolute;
    right: 10px;
    top: 18px;
  }
  a{text-decoration : none} 
  a:hover{ text-decoration:none} 
  .username {
    user-select: none;
    cursor: pointer;
  }
</style>
